apiVersion: 1

deleteDatasources:
  # LGTM ships with a default "Prometheus" datasource pointing at 127.0.0.1:9090
  # (Prometheus inside the LGTM container). For this repo we want Grafana to query
  # the standalone Prometheus service (docker-compose `prometheus`) which scrapes
  # phoenix-backend, otel-collector, kafka, etc.
  - name: Prometheus
    orgId: 1

datasources:
  # Override LGTM's default Prometheus datasource (which points to 127.0.0.1:9090
  # inside the LGTM container). We want Grafana to query the *external* Prometheus
  # service defined in this docker-compose, which scrapes:
  # - phoenix-backend (/actuator/prometheus)
  # - otel-collector (spanmetrics at :8889)
  # - kafka JMX exporter
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    version: 1
    jsonData:
      timeInterval: 5s
